.container{
  display: grid;
  grid-auto-columns: 5vh 1fr;
  grid-auto-rows: 50px 1fr;
  grid-template-areas:  'asideMenu navbar' 'asideMenu content';
  height: 100vh;
  /* min-height: 100%; */
}
.asideMenu{
  grid-area: asideMenu;
  background: #fcfcfc;
  /* background: #b34321; */
}
.asideMenu ul{
  list-style: none;
  margin: 0;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .navbar{
   grid-area: navbar;
   display: flex;
   align-items: center;
   padding: 20px;
   justify-content: space-between;
   border-bottom:solid 1px #eee;
 }
 .navbarRight img{
   width: 35px;
   max-width: 35px;
   height: 35px;
   max-height: 35px;
   border-radius: 50%;
   box-shadow: 0 2px 3px #555;
 }
 .asideMenu ul li{
   padding: 10px 0;
   font-size: 15px;
 }
 .asideMenu ul li a{
   /* color: #6e240e; */
   color: #999;
   
 }
 .asideMenu ul li a:hover{
  color: #5cb7c0;
  /* color: #491809; */
}
.content{
  margin-top: 20px;
  grid-area: content;
  padding: 0 20px;
  /* background: gray; */
}
.min-box{
  max-height: 100px;
  height: 100px;
  margin-right: 5px;
  padding: 10px;  
  border: solid 1px #eee;
  flex: 1;
}
.resumo{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


@media only screen and (max-width: 600px) {
  .resumo{ 
    flex-direction: column;
  }
}
